on:
  push:
    branches:
    - main
jobs:
  deploy_to_dev:
    runs-on: ubuntu-latest
    # This job will now be subject to the 'dev' environment's rules
    environment:
      name: dev
      # Optionally, you can also specify a URL that will appear in the workflow summary
      # url: https://your-deployed-app-url.com
    steps:
        - name: print vars
          id: testcicd
          shell: bash
          run: |
            echo "Environment: dev, var = ${{ vars.TESTVARIABLE1 }}, secret = ${{ secrets.TESTSECRET1 }}"
      # ... your deployment steps here ...

  deploy_to_prod:
    runs-on: ubuntu-latest
    needs: [deploy_to_dev]
    # This job will now be subject to the 'production' environment's rules
    environment:
      name: prod
      # Optionally, you can also specify a URL that will appear in the workflow summary
      # url: https://your-deployed-app-url.com
    steps:
        - name: print vars
          id: testcicd
          shell: bash
          run: |
            echo "Environment: prod, var = ${{ vars.TESTVARIABLE1 }}, secret = ${{ secrets.TESTSECRET1 }}"
      # ... your deployment steps here ...